<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="container-fluid mt-5 p-2">
            <div class="row">
                <p class="text-center fs-3">Orders</p>
                <a href="/admin/" class="text-decoration-none">
                    <i class="fa-solid fa-arrow-left"></i>
                    Back
                </a>
                <th:block th:if="${session.successMsg}">
                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div class="toast text-white bg-success text-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body">
                                    [[${session.successMsg}]]
                                </div>
                                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        </div>
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                    </div>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div class="toast text-white bg-danger text-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body">
                                    [[${session.errorMsg}]]
                                </div>
                                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        </div>
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                    </div>

                </th:block>
                <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-6 p-4">
                    <form action="/admin/search-ordrer" method="get">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control text-center" name="orderId" placeholder="Enter Order Id">
                            </div>
                            <div class="col ms-1 ps-0">
                                <button class="btn btn-primary ">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                <div class="col-md-12 ps-4 pe-4">

                    <table class="table table-bordered card-sh">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Order Id</th>
                                <th scope="col">Deliver Details</th>
                                <th scope="col">Date</th>
                                <th scope="col">Product Details</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:if="${search}">
                                <th:block th:if="${order!=null}">
                                    <tr class="text-center">
                                        <th scope="row text-start">[[${order.orderId}]]</th>
                                        <td class="fw-bold text-start">
                                            Name : [[${order.orderAddress.firstName+' '+order.orderAddress.lastName}]]<br>
                                            Email : [[${order.orderAddress.email}]]<br>
                                            Phone : [[${order.orderAddress.mobileNo}]]<br>
                                            Address : [[${order.orderAddress.address}]]<br>
                                            City : [[${order.orderAddress.city}]]<br>
                                            State : [[${order.orderAddress.state}]], [[${order.orderAddress.pincode}]]
                                        </td>
                                        <td>[[${order.orderDate}]]</td>
                                        <td>[[${order.product.title}]]</td>
                                        <td>Quantity : [[${order.quantity}]] <br> Price : [[${order.price + 50 + 200}]] <br> Total Price :  [[${order.quantity * order.price + 50 + 200}]]</td>
                                        <td>
                                            [[${order.status}]]</td>
                                        <td class="text-center">
                                            <form action="/admin/update-order-status" method="post">

                                                <div class="row">
                                                    <div class="col me-0 pe-0">
                                                        <select class="form-control" name="st">
                                                            <option>--Select--</option>
                                                            <option value="1">In Progress</option>
                                                            <option value="2">Order Received</option>
                                                            <option value="3">Product Packed</option>
                                                            <option value="4">Out for Delivery</option>
                                                            <option value="5">Delivered</option>
                                                            <option value="6">Cancelled</option>
                                                        </select>
                                                    </div>
                                                    <input th:value="${order.id}" name="id" type="hidden">
                                                    <div class="col ms-0">
                                                        <th:block th:if="${order.status=='Cancelled' or order.status=='Delivered'}">
                                                            <button class="btn btn-primary btn-sm col disabled">Update</button>
                                                        </th:block>

                                                        <th:block th:unless="${order.status=='Cancelled' or order.status=='Delivered'}">
                                                            <button class="btn btn-primary btn-sm col">Update</button>
                                                        </th:block>

                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                </th:block>
                                <th:block th:unless="${order!=null}">
                                    <th:block th:if="${session.errorMsg}">
                                        <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                            <div class="toast text-white bg-danger text-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                                <div class="d-flex">
                                                    <div class="toast-body">[[${session.errorMsg}]]</div>
                                                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                                </div>
                                            </div>
                                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                                        </div>
                                    </th:block>
                                </th:block>
                            </th:block>

                            <th:block th:unless="${search}">
                                <tr class="text-center" th:each="order : ${orders}">
                                    <th scope="row">[[${order.orderId}]]</th>
                                    <td class="fw-bold text-start">
                                        Name : [[${order.orderAddress.firstName+' '+order.orderAddress.lastName}]]<br>
                                        Email : [[${order.orderAddress.email}]]<br>
                                        Phone : [[${order.orderAddress.mobileNo}]]<br>
                                        Address : [[${order.orderAddress.address}]]<br>
                                        City : [[${order.orderAddress.city}]]<br>
                                        State : [[${order.orderAddress.state}]], [[${order.orderAddress.pincode}]]
                                    </td>
                                    <td>[[${order.orderDate}]]</td>
                                    <td>[[${order.product.title}]]</td>
                                    <td>Quantity : [[${order.quantity}]] <br> Price : [[${order.price + 50 + 200}]] <br> Total Price :  [[${order.quantity * order.price + 50 + 200}]]</td>
                                    <td>
                                        [[${order.status}]]</td>
                                    <td class="text-center">
                                        <form action="/admin/update-order-status" method="post">

                                            <div class="row">
                                                <div class="col me-0 pe-0">
                                                    <select class="form-control" name="st">
                                                        <option>--Select--</option>
                                                        <option value="1">In Progress</option>
                                                        <option value="2">Order Received</option>
                                                        <option value="3">Product Packed</option>
                                                        <option value="4">Out for Delivery</option>
                                                        <option value="5">Delivered</option>
                                                        <option value="6">Cancelled</option>
                                                    </select>
                                                </div>
                                                <input th:value="${order.id}" name="id" type="hidden">
                                                <div class="col ms-0">
                                                    <th:block th:if="${order.status=='Cancelled' or order.status=='Delivered'}">
                                                        <button class="btn btn-primary btn-sm col disabled">Update</button>
                                                    </th:block>

                                                    <th:block th:unless="${order.status=='Cancelled' or order.status=='Delivered'}">
                                                        <button class="btn btn-primary btn-sm col">Update</button>
                                                    </th:block>

                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
 </body>
 </html>

