<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <p class="text-center fs-3">My Orders</p>
            <th:block th:if="${session.successMsg}">
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div class="toast text-white bg-success text-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                [[${session.successMsg}]]
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </div>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div class="toast text-white bg-danger text-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                [[${session.errorMsg}]]
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </div>
            </th:block>
            <div class="col-md-12">
                <table class="table table-bordered card-sh">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">Order Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Product Details</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" th:each="order : ${orders}">
                        <th scope="row">[[${order.orderId}]]</th>
                        <td>[[${order.orderDate}]]</td>
                        <td>[[${order.product.title}]]</td>
                        <td>Quantity : [[${order.quantity}]] <br> Price : [[${order.price + 50 + 200}]] <br> Total Price :  [[${order.quantity * order.price + 50 + 200}]]</td>
                        <td>
                            [[${order.status}]]</td>
                        <td class="text-center">
                            <th:block th:if="${order.status=='Cancelled' or order.status=='Delivered'}">
                                <a th:href="@{'/user/update-status?id='+${order.id}+'&st=6' }" class="btn btn-danger disabled">Cancel Order</a>
                            </th:block>

                            <th:block th:unless="${order.status=='Cancelled' or order.status=='Delivered'}">
                                <a th:href="@{'/user/update-status?id='+${order.id}+'&st=6' }" class="btn btn-danger">Cancel Order</a>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>