<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-2 p-5">
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center">Reset Password</p>
                        <th:block th:if="${session.successMsg}">
                            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                <div class="toast text-white bg-success text-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="d-flex">
                                        <div class="toast-body">
                                            [[${session.successMsg}]]
                                        </div>
                                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                </div>
                                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                            </div>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                <div class="toast text-white bg-danger text-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="d-flex">
                                        <div class="toast-body">
                                            [[${session.errorMsg}]]
                                        </div>
                                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                </div>
                                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/reset-password" method="post" id="resetPassword" novalidate>
                            <div class="mb-3">
                                <label class="form-label">New Password</label> <input
                                    type="password" class="form-control" name="password" id="pass">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm Password</label> <input
                                    class="form-control" name="confirmPassword" type="password">
                            </div>
                            <input type="hidden" th:value="${token}" name="token">
                            <button type="submit" class="btn bg-primary text-white col-md-12 text-center">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>